@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
}

body {
  cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi266.ani),
    url(https://cur.cursors-4u.net/smilies/smi-3/smi266.png), default;
  /* End https://www.cursors-4u.com */
  background: url("../images/backgrounds/rosie.gif");
  position: relative;
  color: #333;
  letter-spacing: 1.2px;
  font-family: ms ui gothic;
  margin: 3px;
}

li {
  list-style-type: none;
  margin-bottom: 18px;
}

.bookmarks {
  background-color: #ffffee;
  border-radius: 0.5em 0;
  border: 4px double #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
  margin-top: 20px;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zen Maru Gothic", sans-serif;
  text-transform: capitalize;
  margin: 5px 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f784c7;
  background-color: #ffffee;
  border-radius: 0.5em 0;
  border: 1px solid #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
  padding: 5px;
}

::selection {
  text-shadow: none;
  background: rgb(255, 157, 234);
}

p {
  letter-spacing: 1px;
  margin: 5px;
  line-height: 1.5em;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-width: 1100px;
  margin-inline: auto;
  margin-top: 5px;
  min-width: 630px;
}

.grid {
  background: url("../images/backgrounds/stucco.jpg");
  padding: 5px;
  position: relative;
  outline: 1px solid #fff;
  outline-offset: -3px;
  border-radius: 0.5em 0;
  border: 4px double #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
}

.footer {
  background: url("src/tumblr_a708b3760de5d414e9cdbad5197f9cdb_521bf743_2048.jpg");
  background-size: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 1px #888;
  background-position: center;
  grid-column: 1/-1;
}

.nav::after {
  color: #373737;
  content: "BACK TO HOME";
  background: rgba(255, 245, 238, 0.863);
  font-size: 16pt;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  top: -2.3rem;
  text-shadow: 2px 0 #fff, 0 2px #fff, -2px 0 #fff, 0 -2px #fff,
    3px 2px 2px #aaa;
}

.side-img {
  width: 200px;
  height: auto;
  margin-inline: auto;
}

.figurines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: min-content;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0.2em 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi267.ani),
    url(https://cur.cursors-4u.net/smilies/smi-3/smi267.png), pointer;
  /* End https://www.cursors-4u.com */
  color: #f784c7;
  font-family: ms ui gothic;
  font-weight: bold;
}

a:active {
  color: hotpink;
}

a:hover {
  text-decoration: underline;
}

/* win98 scrollbar */

::-webkit-scrollbar {
  width: 16px;
  background: red;
}

::-webkit-scrollbar-corner {
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-track {
  background-blend-mode: normal, difference, normal;
  background-size: 2px 2px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
}

::-webkit-scrollbar-button {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

::-webkit-scrollbar-button:start:decrement:active,
::-webkit-scrollbar-button:end:increment:active {
  border: 1px solid #888;
  box-shadow: none;
  background-position: 3.2px 3.2px;
}

::-webkit-scrollbar-button:start:decrement:horizontal:decrement,
::-webkit-scrollbar-button:end:increment:horizontal:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(180)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:horizontal:increment,
::-webkit-scrollbar-button:end:increment:horizontal:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(0)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:decrement,
::-webkit-scrollbar-button:end:increment:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(270)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:increment,
::-webkit-scrollbar-button:end:increment:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(90)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    min-width: auto;
    margin-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
