<ol reversed>
{% set currentYear = "" %}
{% for post in postslist | reverse %}
{% if showYear %}
      {% set postYear = post.date.getFullYear() %}
      {% if currentYear != postYear %}
      {% set currentYear = postYear %}
      <h3 class="text-2xl font-bold bg-sky-100">Published in {{ postYear }}</h3>
      {% endif %}
{% endif %}
  <li class="mb-10 list-none">
    <h2 class="text-3xl font-bold "><a class="font-semibold no-underline hover:underline" href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
    <hr class="h-px max-w-lg mx-auto border-0 bg-gradient-to-r from-transparent via-neutral-900">
    <p>{{ post.content | excerpt }}</p>
  </li>
{% endfor %}
</ol>