<div id="oddinaut-wr" class="oddinaut-base">
  <h3>Oddinauts</h3>
  <img class="oddinaut-img" src="/assets/frontpage/bounchy.gif" alt="">
  <div class="oddinaut-p">
  (this user) is the proud owner of the Oddinaut (type).
  <div class="oddinaut-pagi">
    <span>prev</span> <span>random</span> <span>next</span>
  </div>
  </div>
</div>