*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
}


html,
body {
  cursor: url(https://cur.cursors-4u.net/food/foo-4/foo368.cur), default;
  /* End https://www.cursors-4u.com */
  background: url("/images/backgrounds/smileymusic.gif");
  background-color: #badaff;
  color: #424242;
  font-family: ms ui gothic;
  letter-spacing: 1.2px;
  overflow-x: hidden;
}

.wrapper {
  margin-inline: auto;
  max-width: 1500px;
  justify-items: center;
  grid-template-columns: 1fr;
  display: grid;
  height: 100%;
  gap: 5px;
  margin-block: 5px;
  margin-inline: auto;
  padding-inline: .5em;
}

.grid {
  padding: 1em;
  outline: 1px solid #fff;
  background: #ffffee;
  outline-offset: -3px;
  border-radius: 0.5em 0;
  border: 4px double #f7bc84;
  box-shadow: 2px 2px 2px #9b949e;

}

.grid:not(:last-of-type) {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1em;
  outline: 1px solid #fff;
  background: #ffffee;
  outline-offset: -3px;
  border-radius: 0.5em 0;
  border: 4px double #f7bc84;
  box-shadow: 2px 2px 2px #9b949e;
}

footer span {
  font-weight: bold;
}



.mp3 img {
  display: block;
  margin-bottom: .5rem;
  margin-top: 1rem;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.header {
  padding: 1em;
  outline: 1px solid #fff;
  background: #ffffee;
  outline-offset: -3px;
  border-radius: 0.5em 0;
  border: 4px double #f7bc84;
  box-shadow: 2px 2px 2px #9b949e;
  width: 100%;
  padding-inline: 1em;
  padding-block: .5em;
}

@media (min-width: 900px) {}