
  <nav class="px-6 py-6 bg-gray-800 lg:hidden">
    <div class="flex items-center justify-between">
      <a class="text-2xl font-semibold text-white" href="#">
        <img class="h-10" src="artemis-assets/logos/artemis-logo.svg" alt="" width="auto">
      </a>
      <button class="flex items-center rounded navbar-burger focus:outline-none">
        <svg class="block w-8 h-8 p-2 text-white bg-indigo-500 rounded hover:bg-indigo-600" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
  </nav>
  <div class="relative z-50 hidden lg:block navbar-menu">
    <div class="fixed inset-0 bg-gray-800 navbar-backdrop lg:hidden opacity-10"></div>
    <nav class="fixed top-0 bottom-0 left-0 flex flex-col w-3/4 pt-6 pb-8 overflow-y-auto bg-gray-800 lg:w-80 sm:max-w-xs">
      <div class="flex items-center w-full px-6 pb-6 mb-6 border-gray-700 lg:border-b">
        <a class="text-xl font-semibold text-white" href="#">
          <img class="h-8" src="artemis-assets/logos/artemis-logo.svg" alt="" width="auto">
        </a>
      </div>
      <div class="px-4 pb-6">
        <h3 class="mb-2 text-xs font-medium text-gray-500 uppercase">Main</h3>
        <ul class="mb-8 text-sm font-medium">
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 bg-indigo-500 rounded text-gray-50" href="#">
              <span class="inline-block mr-3"></span>
              <span>Dashboard</span>
              <span class="inline-block ml-auto"></span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-2 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Discover</span>
             

            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Users</span>
              <span class="inline-block ml-auto"></span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Documents</span>
              <span class="inline-block ml-auto"></span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Applications</span>
              <span class="inline-block ml-auto"></span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Pages</span>
              <span class="inline-block ml-auto"></span>
            </a>
          </li>
        </ul>
        <h3 class="mb-2 text-xs font-medium text-gray-500 uppercase">Secondary</h3>
        <ul class="text-sm font-medium">
          <li>
            <a class="flex items-center py-3 pl-3 pr-2 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Support Center</span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Inbox</span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>File Manager</span>
            </a>
          </li>
          <li>
            <a class="flex items-center py-3 pl-3 pr-4 rounded text-gray-50 hover:bg-gray-900" href="#">
              <span class="inline-block mr-3"></span>
              <span>Data List</span>
            </a>
          </li>
        </ul>
        <div class="pt-8">
          <a class="flex items-center py-3 pl-3 pr-2 rounded text-gray-50 hover:bg-gray-900" href="#">
            <span class="inline-block mr-4"></span>
            <span>Settings</span>
          </a>
          <a class="flex items-center py-3 pl-3 pr-2 rounded text-gray-50 hover:bg-gray-900" href="#">
            <span class="inline-block mr-4"></span>
            <span>Log Out</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="mx-auto lg:ml-80"></div>