<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="\images\favicons\pikapi.gif" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="layout1.css" media="all">



    <script language="javascript">
        msg = "[Amnesia . . .]";

        msg = " ☆ " + msg; pos = 0;
        function scrollMSG() {
            document.title = msg.substring(pos, msg.length) + msg.substring(0, pos);
            pos++;
            if (pos > msg.length) pos = 0
            window.setTimeout("scrollMSG()", 200);
        }
        scrollMSG();
    </script>
</head>

<body><div id="tempholder"></div>
    <div id="placeholder" style="position:relative;width:420px; height:32px;"> </div>

    <div id="header"><img src="images/layout01.png" alt=""></div>
    <div id="wrapper" style="position: absolute; top:-45; left:0; height:100%;">
        <div class="name">Amnesia</div>
        <div id="nav">
            <a class="navlinks" href="#">linkage</a> <a class="navlinks" href="#">linkage</a> <a class="navlinks" href="#">linkage</a> <a class="navlinks" href="#">linkage</a> <a class="navlinks" href="#">linkage</a> <a class="navlinks" href="#">linkage</a>
             
        </div>
        <div id="content">
            
            <h1>Welcome</h1>
            <div class="subtitle">this is a subtitle</div>
            <p><i>italic</i> <b>bold</b> <s>strikethrough</s> <u>underline</u> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est!</p>
            <h2>header</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, temporibus omnis incidunt ea minima dolores? Repudiandae ducimus molestias corporis voluptatem, omnis aut labore ad quos, voluptate facere, maiores molestiae est!</p>

            </div>
            </div>
            <div id="footer">Your Site &copy; Name 2022 - <br>
                layout by: <a href="">prismatictigers</a></div>
</body>

</html>