* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: #fff9f9;
    cursor:url('images/web/sunnyneo/CUR_faerieslorg.gif'), default;
    min-height:100%;
}



body {
  background-image:url('images/headers/niat.png');
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color:#617dc1;
  background-repeat:repeat-y;
  background-position:left;
    height:100%;
    padding:0;
    margin:0;
}

audio {
  width:170px;
  height:30px;
  display:block;
}

h1 {
  text-decoration: overline;
}


h1, h2, h3, h4, h5, h6  {
text-transform: uppercase;
  color:#617dc1;
  margin: 10px 0px 3px 0px;
  letter-spacing: 2px;
  font-size:11px;
  padding:2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  border-bottom:1px solid;
}

h5::after, h5::before {
  display:inline-block;
        content:"";
        border-top:solid 1px;
        width:20%;
        vertical-align:middle;
}

.subtitle {
  color:#76716a;
  font-size:10px;
  letter-spacing: 2px;
  background:#fbf3c8;
}

p, td {text-align:justify;
  padding:3px;
  line-height: 1.5em;
  font-size: 10px;
}

b, em {
  color:#617dc1;
  font-weight: bold;
}

#nav p {padding:0;
margin:0;
text-align: left;
}

iframe[name=frame] {
  width: 600px;
  height:330px;
  border:none;
}

#header {
  background:url('images/headers/nialay.png');
        background-repeat: no-repeat;
        pointer-events: none;
        height:305px;
        border:1px solid;
        width:800px;
}

#wrapper {
  position:relative;
    min-height:100%;
   
    padding:3px;
    width:935px;
}

#content {
  padding-bottom:100px;
}

#nav {
  width:170px;
  height:494px;
  padding:5px;
}

#update 


#update h2 img {
  vertical-align:-5px;
  display:inline-block;
}

#update h2 {
  text-transform: uppercase;
  color:#617dc1;
  letter-spacing: 2px;
  font-size:11px;
  padding:4px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-right:solid 2px;
    border-left:2px solid;
    border-bottom:0;
    background:#9abce9;
    text-align:left;
    text-transform: capitalize;
    font-weight: bold;
}


#nav h2 img {
  vertical-align:-5px;
  display:inline-block;
}
#nav img {
  vertical-align: -2px;
}

.hr {
  border-bottom: 1px dashed;
  margin:5px 0;
}

#update > div {
  border:1px solid;
  padding:5px;
  width:200px;

}

#update ul
{
list-style-type: none;
padding: 0;
margin: 0;
}

#update li
{text-align: left;
background-image: url('silkicons/bullet_blue.png');
background-repeat: no-repeat;
background-position: 0 .2em;
padding:.2em 1.5em;

}
#footer {z-index: 1;
  text-align:center;
}

a {border: none;
  outline: none;
  color:#a09098;
}

a:hover {
  color:#76716a;
}

#nav h2 {
border-right:solid 2px;
border-left:2px solid;
border-bottom:0;
background:#9abce9;
text-align:left;
text-transform: capitalize;
font-weight: bold;

}

.navlinks {
  font-size: 11px;
  text-align: left;
  text-decoration: none;
  margin:1px 0;
  color:#7ba4db;

  display:block;
}

.navlinks:hover {
  font-style: italic;
  cursor:help;
  background:#f2f9ff;
  color:#9abce9;
}
