@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  cursor: url(https://cur.cursors-4u.net/food/foo-4/foo368.cur), default;
  /* End https://www.cursors-4u.com */
  background: url("/images/backgrounds/chekdb.png");
  position: relative;
  color: #424242;
  font-family: ms ui gothic;
  letter-spacing: 1.2px;
  overflow-x: hidden;
}

.plogo {
  pointer-events: none;
  filter: drop-shadow(0 0 1px #002fff);
}

#statuscafe {
  padding: 0.5em;
  margin-block: 0.5rem;
  background-color: #ffffee;
  border: 1px solid #f784c7;
}
#statuscafe-username {
  margin-bottom: 0.5em;
}
#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

/* animations */
.spin:hover {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.float:hover {
  animation: float 0.5s infinite ease;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  35% {
    transform: translateY(10px) rotate(10deg);
  }

  50% {
    transform: translateY(0px) rotate(0deg);
  }

  75% {
    transform: translateY(10px) rotate(-10deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zen Maru Gothic", sans-serif;
  text-transform: capitalize;
  margin: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f784c7;
  background-color: #ffffee;
  border-radius: 0.5em 0;
  border: 1px solid #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
  padding: 5px;
}

::selection {
  text-shadow: none;
  background: rgb(255, 157, 234);
}

.para {
  text-indent: 0.5in;
}

p {
  margin: 5px;
  line-height: 1.7rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  cursor: url(https://cur.cursors-4u.net/food/foo-4/foo377.cur), pointer;
  color: #f784c7;
  font-family: ms ui gothic;
  font-weight: bold;
}

a:active {
  color: hotpink;
}

a:hover {
  text-decoration: underline;
}

.hr {
  background-color: #0000ff;
  height: 1px;
}

.hrimg {
  display: block;
  margin-inline: auto;
  margin-block: 1em;
}

#sidebar {
  display: flex;
  gap: 1rem;
  grid-area: sidebar;
  background: url("/images/backgrounds/17a76e78_original.jpg");
  background-size: cover;
  text-align: center;
  flex-direction: column;
}

.affies {
  justify-self: flex-end;
  align-self: flex-end;
  color: #f784c7;
  background-color: #ffffee;
  border-radius: 0.5em 0;
  border: 4px double #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
  padding: 5px;
  margin-top: 0.5rem;
}

#sidebar a li {
  border-radius: 0.5em 0;
  border: 1px solid #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
  background: #ffffee;
  margin: 5px 5px;
  padding-inline: 0.5em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}

#sidebar li span {
  margin-inline-end: 5px;
}

#sidebar a li img {
  margin-right: auto;
  height: 100%;
}

#sidebar a li:hover {
  position: relative;
  left: 5px;
  cursor: url(https://cur.cursors-4u.net/food/foo-4/foo377.cur), pointer;
}
#sidebar li {
  color: #f784c7;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(300px, 350px) 1fr;
  grid-auto-flow: dense;
  gap: 5px;
  margin: 5px;
  max-width: 1300px;
  grid-template-areas:
    "header header header"
    "marquee marquee  marquee"
    "sidebar content content"
    "daily daily daily"
    "footer footer footer";
}

/* .container {
    position:relative;
    display: grid;
    grid-template-columns:1fr minmax(250px, auto) 1fr;
    grid-template-rows:auto .3fr;
    grid-auto-rows: min-content;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width:1400px;
    margin:5px;
    
  } */

.bubble {
  background: #ffffee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
  border-radius: 0.5em 0;
  border: 4px double #a684f7;
}

.birthday {
  text-align: center;
  font-weight: bold;
}

.flex:not(.poke) {
  display: flex;
  flex-direction: column;
  min-width: 33.3%;
}

.grid {
  padding: 5px;
  position: relative;
  outline: 1px solid #fff;
  outline-offset: -3px;
  border-radius: 0.5em 0;
  border: 4px double #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
}

.poke {
  text-align: center;
  margin-top: 0.5rem;
}

.poke a {
  margin-inline: 5px;
}

.header {
  grid-area: header;
  background-color: #55d4eb;
  min-height: 300px;
  background: url("/images/web/digicharat/tumblr_p9ccgfqBas1wpgehio1_1280.jpg");
  background-position: 15rem -20rem;
  background-size: 1100px;
}

.marquee {
  grid-area: marquee;
  background-color: hsl(170, 100%, 94%);
}

.content {
  grid-area: content;
  background: #ffffee;
}

.mid-manga {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dino {
  width: 100%;
  pointer-events: none;
}

.midtext {
  min-height: 250px;
  overflow: auto;
  flex-basis: 0;
  border-radius: 0.5em 0;
  border: 4px double #a684f7;
  box-shadow: 2px 2px 2px #9b949e;
}

#bun {
  align-self: center;
  justify-self: flex-end;
  width: 200px;
}

.daily {
  grid-area: daily;
  background: url("/images/backgrounds/con2.png");
}

.daily-top {
  background-color: #ffffee;
  border-radius: 0.5em 0;
  border: 4px double #f784c7;
  box-shadow: 2px 2px 2px #9b949e;
}

.daily-top .botscroll {
  max-height: 350px;
  overflow: auto;
  margin-inline: 1rem;
  flex: 5;
}

.flex-b {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (min-width: 1300px) {
  .flex-b {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.button {
  text-align: center;
}

.daily .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.grid.daily img.twirl {
  /* max-height: 100%;
  width: fit-content; */
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  font-weight: bold;
  grid-area: footer;
  background: url("/images/backgrounds/clwocwl.jpg");
}

/* win98 scrollbar */

::-webkit-scrollbar {
  width: 16px;
  background: red;
}

::-webkit-scrollbar-corner {
  background: #c0c0c0;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-track {
  background-blend-mode: normal, difference, normal;
  background-size: 2px 2px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
}

::-webkit-scrollbar-button {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

::-webkit-scrollbar-button:start:decrement:active,
::-webkit-scrollbar-button:end:increment:active {
  border: 1px solid #888;
  box-shadow: none;
  background-position: 3.2px 3.2px;
}

::-webkit-scrollbar-button:start:decrement:horizontal:decrement,
::-webkit-scrollbar-button:end:increment:horizontal:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(180)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:horizontal:increment,
::-webkit-scrollbar-button:end:increment:horizontal:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(0)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:decrement,
::-webkit-scrollbar-button:end:increment:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(270)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:start:decrement:vertical:increment,
::-webkit-scrollbar-button:end:increment:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(90)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "marquee marquee marquee"
      "right right right"
      "sidebar content content"
      " daily daily daily"
      "footer footer footer";
  }

  .content {
    flex: 1;
  }

  #sidebar {
    flex: 0;
  }

  .right.flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .right {
    overflow: hidden;
  }

  .right img {
    max-height: 300px;
  }

  .scroll {
    max-height: 300px;
  }
}

@media screen and (max-width: 900px) {
  /* For mobile phones: */

  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 300px;
    background-size: 800px;
    background-position: 0 -10em;
  }

  /* sidebar links */

  #sidebar ul li {
    padding: 10px 0;
    margin: 2px 0;
    box-shadow: 1px 1px 2px #333;
    border: 1px solid;
  }

  #sidebar a li {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block: 0.5rem;
    padding: 5px 20px;
    font-size: 1.1rem;
  }

  .right.flex {
    flex-direction: row;
  }

  .right .scroll {
    height: 300px;
  }

  .right > * {
    display: none;
  }
}
