---
stylesheets:
- https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css
- /css/tailwind.css
eleventyComputed:
  eleventyNavigation:
    parent: "{{ parent }}"
    key: "{{ title }}"
---
<!doctype html>
<html lang="en">
  <head>
    {% include 'partials/head.liquid' %}
    {%- for href in stylesheets -%}
      <link rel="stylesheet" href="{{ href | url }}">
    {% endfor %}
  </head>
  <body>
    {% include 'partials/header.liquid' %}
    <main
      class="
               container px-4 mx-auto
        max-w-4xl py-12 min-h-screen
        prose lg:prose-xl
      ">
      {{ content }}
    </main>
    {% include 'partials/footer.liquid' %}
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </body>
</html>
