---
title: About
icon: about
---

{% import 'globals.njk' as globals %}

<main class="{{ globals.mainClasses }}">

<h1>{{ title }}</h1>
<p>HELLO! You can call me Prism, Angelica, or Kelly! I used to not really be that interested in learning (mostly when it had to do with school... btw I was homeschooled ) but as I got older, I started watching SO MANY documentaries, learning more stuff about html, css, javascript, other coding languages, art-related things, (because I'm also an artist hehe...) I wish I could be a little more organized with my resources and workspace, but I'd rather at least have those resources messy than have none at all! By the way, I'm usually REALLY talkative, but I tend to struggle a lot with initiating conversations or even when to consider someone a friend SO FEEL FREE TO SEND A MESSAGE MY WAY! </p>
<hr class="h-px bg-purple-300 border-0 dark:bg-purple-600">
<p>
  I've been coding since 2008! My first beginning of coding with html & css was on a website called nonoba.com T_T (I'll probably make a page about this!) I've always wanted to make a website of my own since I was really little, and that finally happened in 2020 when I first made my neocities account!

</p>
<p>
  Prismatictigers started out as a personal website with a diary and some shrines I never got around to finishing, but it's evolved into a mix of graphics, resources, and personal pages! 
</p>
</main>