---
title: Graphics
---

<div class="pl-3 bg-pink-100 border border-blue-600 shadow-md border-3 ring-1 ring-inset ring-white ">
  <p>
  Welcome to my web collection! As you can probably tell, I LOVE collecting images from around the web! I especially love scrolling through Pinterest and losing my mind over how many inspirational, nostalgic, and useful images there are... None of these images are mine of course, but if you'd like to use any of them, then <span class="italic font-semibold underline">
    please make sure to download the images and don't hotlink!
  </span>
  </p>
</div>