---
title: Home
permalink: /index.html
icon: home
updated: false
---

<h1 class="text-sky-600 bg-sky-100">Welcome to the Realm!</h1>
<div class="flex-wrap px-2 bg-yellow-100 border-2 border-black ring-blue-400 ring-2 lg:flex prose-h1:mb-0 rounded-xl ">

    <img class="rounded-xl" src="assets/frontpage/wave.gif" alt="waving nursery bus">
  <div class="px-4 lg:py-2">
    <p>
      Hello! Welcome to <span class="font-bold text-warning-800 bg-warning-200">Prismatic-Realm.net!</span>
    </p>
  </div>
  <section class="overflow-auto max-h-80 ">
    <h2>INTRODUCTION</h2>
    <p>
      Greetings!! ( ´ ∀ ` )ﾉ I recently started binging Lucky Star and
      was
      inspired to project my interest into a page layout!
    </p>
    <hr class="h-px border-0 bg-amber-400 dark:bg-amber-800">
    <h2>DISCLAIMER</h2>
    <p>
      I found all of the graphics used on my page from around the web,
      <em>EXCEPT</em>
      for the bunny below and the animated 3D text above. I made those
      myself! ☆⌒(ゝ。∂) <&mdash; (This of course includes my own artwork within my gallery hehe... WHEN I EVENTUALLY ADD
        IT...) If you're interested in having something made, shoot me a message! </p>
        <h2>WHAT MY SITE OFFERS</h2>
        <p>
          This is my cozy little anime sanctuary! I have a resources page if
          you're seeking stuff like that, a blog page where I tend to ramble
          a
          lot about things, and my very own art gallery where I mostly dump
          all of my sketches/concepts/rendered pieces! Some of them were
          done
          with my mouse because I was too lazy to whip out my tablet...
        </p>
  </section>
</div>
</div>