---
title: 404 - Page not found
layout: base
eleventyExcludeFromCollections: true
permalink: 404.html
---
<main>
  <div class="pt-12 font-sans text-center lg:pt-20">
    <h1 class="text-3xl lg:text-6xl 2xl:text-8xl">Page not found</h1>
    <p class="mt-6 text-2xl lg:mt-8 2xl:mt-12 lg:text-4xl 2xl:text-5xl">Sorry, that page isn&rsquo;t on this site.</p>
    <p class="mt-4 mb-72 lg:mt-6 2xl:mt-8">Please use the navigation menu, above, to find another&nbsp;page.</p>
  </div>
</main>