:root {
  --default-margin: 0.5rem;
  --default-padding: var(--default-margin);
  --post-title: linear-gradient(90deg, #ed5098, rgba(255, 255, 255, 0));
  --title-text: #f7f5f7;
  --post-content: #f7f5f7;
  --post-text: #b14a76;
  --post-details: #e099b8;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "ms pgothic";
  background: url("../images/backgrounds/bee.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--post-text);
}

.backtohome a {
  margin-bottom: calc(var(--default-margin) * 2);
  text-decoration: none;
  display: block;
  background: #f7f5f7;
  padding: var(--default-padding);
  border-radius: 0.5rem;
  border: 1px solid #16161d;
  font-weight: bold;
  letter-spacing: 1px;
}

p {
  line-height: 1.6rem;
}

.blog-post h3 {
  border-bottom: 1px dotted #16161d4a;
  letter-spacing: 3px;
}

.wrapper {
  max-width: calc(100% - 1rem);
  margin-block: calc(var(--default-margin) * 2);
  width: 42rem;
  overflow: auto;
  padding: var(--default-padding);
  margin-inline: auto;
}

.wrapper > .blog-post {
  background-color: var(--post-content);
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #16161d;
  box-shadow: 3px 3px 1px 0 #16161d;
  outline: 1px solid #fff;
  overflow: hidden;
}

.blog-post:not(:last-child) {
  margin-bottom: calc(var(--default-margin) * 2);
}

.blog-content {
  padding: var(--default-padding);
}

.blog-content h3:not(:first-of-type) {
  margin-top: calc(var(--default-margin) * 2);
}

.blog-details {
  font-weight: bold;
  color: var(--post-details);
  margin: var(--default-padding);
  display: inline-block;
  letter-spacing: 1px;
}

.title-bar {
  background: var(--post-title);
  color: var(--title-text);
  padding: var(--default-padding);
  margin-bottom: var(--default-margin);
}

/* win98 scrollbar */

::-webkit-scrollbar {
  width: 16px;
  background: red;
}
::-webkit-scrollbar-corner {
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}
::-webkit-scrollbar-track {
  background-blend-mode: normal, difference, normal;
  background-size: 2px 2px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
}
::-webkit-scrollbar-button {
  background-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
  border-top-color: #c0c0c0;
  border-left-color: #c0c0c0;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}
::-webkit-scrollbar-button:start:decrement:active,
::-webkit-scrollbar-button:end:increment:active {
  border: 1px solid #888;
  box-shadow: none;
  background-position: 3.2px 3.2px;
}
::-webkit-scrollbar-button:start:decrement:horizontal:decrement,
::-webkit-scrollbar-button:end:increment:horizontal:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(180)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:start:decrement:horizontal:increment,
::-webkit-scrollbar-button:end:increment:horizontal:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(0)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:start:decrement:vertical:decrement,
::-webkit-scrollbar-button:end:increment:vertical:decrement {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(270)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}
::-webkit-scrollbar-button:start:decrement:vertical:increment,
::-webkit-scrollbar-button:end:increment:vertical:increment {
  background-image: url("data:image/svg+xml,%3Csvg transform='rotate(90)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.86 6.86'%3E%3Cpath fill='%231d1d1b' d='M4.41 2.94v-.98h-.98V.98h-.98V0h-.98V6.86h.98v-.98h.98V4.9h.98v-.98h.98v-.98h-.98z'/%3E%3C/svg%3E");
}
