<div class="container ">
  <div class="bg-neutral-400/10 border-l-4 border-l-neutral-600">
    <h3 class="ms-4 ">Decide with Data.</h3>
    <p class="ms-4">The world's leading big data and business intelligence platform.</p>
  </div>
</div>
