<div class="max-w-xl p-3 mx-auto mt-8 rounded-lg outline-none ring-sky-600 ring-1 bg-sky-100">
  <span class="flex justify-center font-bold text-neutral-800 ">Click my Pokémon!</span>
  <div class="flex flex-wrap items-baseline justify-center gap-x-3">
<a href="https://r.gpx.plus/awsAt" target="_blank"><img src="https://i.gpx.plus/awsAt/s.png" border="0" alt="" /></a><a href="https://r.gpx.plus/oVtAt" target="_blank"><img src="https://i.gpx.plus/oVtAt/s.png" border="0" alt="" /></a><a href="https://r.gpx.plus/dcyAt" target="_blank"><img src="https://i.gpx.plus/dcyAt/s.png" border="0" alt="" /></a><a href="https://r.gpx.plus/cDbAt" target="_blank"><img src="https://i.gpx.plus/cDbAt/s.png" border="0" alt="" /></a><a href="https://r.gpx.plus/NjqAt" target="_blank"><img src="https://i.gpx.plus/NjqAt/s.png" border="0" alt="" /></a><a href="https://r.gpx.plus/DcvAt" target="_blank"><img src="https://i.gpx.plus/DcvAt/s.png" border="0" alt="" /></a>
</div>
</div>